# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node modules
node_modules/

# Temporary files
*.log
*.tmp
*.temp

# WordPress specific
*.pot
*.po
*.mo
*.php~
*.swp
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-plugin/
club-ecolatina/
build/
# Composer
vendor/
composer.lock

# Build files
dist/
build/
*.zip