@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root {
    --ecolatina-green: #00625d;
    --ecolatina-green-2: #34a19b;
    --ecolatina-aqua: #7bbfb7;
    --ecolatina-aqua-2: #b6f4ed;
    --ecolatina-light-gray: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--ecolatina-green);
}

.main {
    width: 100%;
    height: 100vh;
    background-color: var(--ecolatina-light-gray);
    position: relative;
    overflow: scroll;
}
.title {
    width: 100%;
    height: 100%;
    color: var(--ecolatina-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1 {
    font-size: 2.65rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.125;
    margin-top: 3rem;
}

/* .subheader {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */
/* .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.computer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 1000px;
    z-index: 1;
}

.computer {
    filter: drop-shadow(0 0 1.25rem rgb(255, 255, 255));
    width: 100%;
    height: 100%;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    z-index: 3;
}
.cta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: var(--ecolatina-green);
    font-size: 1rem;
    color: var(--ecolatina-aqua-2);
    border: 1px solid var(--ecolatina-aqua-2);
    border-radius: 5px;
    padding: 10px;
    z-index: 200;
    cursor: pointer;
}
.cta:hover {
    background-color: var(--ecolatina-green-2);
    color: white;
}
.cta:active {
    background-color: var(--ecolatina-aqua);
    color: white;
}

.hud-grid {
    width: 100%;
    max-width: 1200px;
    min-height: 640px;
    gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 25;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hud-grid-item {
    font-size: 1rem;
    font-weight: 400;
    /* border: 1px solid var(--ecolatina-aqua); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hud-grid-item img {
    width: 120%;
    align-self: start;
    /* height: 100%; */
}
.hud-grid-item:hover {
    cursor: pointer;
}
.hud-grid-item:hover h2 {
    color: var(--ecolatina-green-2);
}
.hud-grid-item.selected h2 {
    font-weight: 700;
    color: var(--ecolatina-green);
    position: relative;
}
.hud-grid-item.selected.right-aligned h2:after {
    content: '';
    border-bottom: 8px solid var(--ecolatina-aqua);
    width: 50%;
    position: absolute;
    bottom: -8px;
    right: 0;
}
.hud-grid-item.selected.left-aligned h2:after {
    content: '';
    border-bottom: 8px solid var(--ecolatina-aqua);
    width: 50%;
    position: absolute;
    bottom: -8px;
    left: 0;
}
.hud-grid-item.top-aligned {
    align-items: flex-start;
}
.hud-grid-item.top-aligned h2 {
    margin-bottom: 0rem;
}
.hud-grid-item.bottom-aligned {
    align-items: flex-end;
}
.hud-grid-item.bottom-aligned h2 {
    margin-bottom: -3rem;
}
.hud-grid-item.left-aligned {
    text-align: left;
}
.hud-grid-item.right-aligned {
    text-align: right;
}
.hud-grid-item.center-aligned {
    align-items: baseline;
}
.hud-grid-item h2 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.2;
    text-shadow: 0 0 12px rgba(255, 255, 255, 1);
    /* border-bottom: 2px solid var(--ecolatina-aqua); */
}
.hud-grid-item.empty.left-aligned {
    /* border: 1px solid var(--ecolatina-aqua); */
    justify-content: flex-start;
}
.hud-grid-item.empty.right-aligned {
    /* border: 1px solid var(--ecolatina-aqua); */
    justify-content: flex-end;
}

.square {
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--ecolatina-aqua);
    border-radius: 0.25rem;
}
.benefit-description {
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.benefit-description h3 {
    text-transform: uppercase;
}
.footer {
    height: 20vh;
}
